body {
    background-color: rgb(244, 238, 233);
}
/****************** NAVBAR styling *******************/
.navbar-collapse {
    /* justify-content: flex-end; */
    font-size: 24px;
}

.navbar-brand {
    color: white;
    font-size: 24px;
}

.nav-link {
    color: white;
}

.navbar-brand:hover {
    color: black;
}
.nav-link:hover {
    color: black;
}

.navbar {
    margin: 0px;
    background: rgb(85, 176, 105);
    margin: 0px;  
    padding: 10px;
}
/****************** NAVBAR end styling *******************/

/****************** index body styling *******************/
.main {
    background: rgb(246, 234, 224);
    padding: 10px;
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 50%;
}
/****************** index body end styling *******************/


/****************** Random Forests body styling *******************/

.rfc {
    text-align: center;
}

/****************** Random Forests body end styling *******************/


/****************** Logistic Regression body styling *******************/

.lr {
    text-align: center;
}

/****************** Logistic Regression body end styling *******************/


/****************** SVW body styling *******************/
.svw {
    text-align: center;
}
/****************** SVW body end styling *******************/


/****************** Analysis body styling *******************/
.analysis{
    text-align: center;
}
/****************** Analysis body end styling *******************/


/****************** Data body styling *******************/
table, th, td {
    border: 1px solid black;
}

td {
    padding: 10px 0;
    text-align: center;
}
/****************** Data body end styling *******************/